.mohamed-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 20px;
  background: fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.mohamed-section:nth-child(even) .mohamed-content {
  order: 2;
}
.mohamed-section .mohamed-content {
  flex: 1;
  padding: 20px;
}
.mohamed-section .mohamed-content .mohamed-h2 {
  font-size: 27px;
  margin-bottom: 20px;
}
.mohamed-section .mohamed-content .mohamed-p {
  font-size: 16px;
  margin-bottom: 20px;
  color: gray;
}
.mohamed-section .mohamed-image {
  flex: 1;
  text-align: center;
  width: 60%;
}
.mohamed-section .mohamed-image .mohamed-img {
  max-width: 100%;
  height: auto;
}

.mohamed-button {
  background-color: white;
  color: #0056b3;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 50px;
  border-color: #0056b3;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mohamed-button:hover {
  background-color: #5ba2ef;
  color: white;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .mohamed-img{
        width: 30rem;
    }
}
@media(max-width:767px){
    .mohamed-img{
        width: 15rem;
    }
}

